
<input type="text" id="userId" placeholder="Usuario">
<input type="text" id="chatBox" placeholder="Mensaje">
<div id="chat">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./chat.js"></script>