<div>
{{#each productos}}
    <li>{{this.producto}} </li>

    <li>{{this.precio}} </li>   

{{/each}}

<li></li>



</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>