<div id="actualizado">

{{#each productos}}
    <li>{{this.producto}} </li>

    <li>{{this.precio}} </li>   

{{/each}}


</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>